@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Latio', sans-serif;
    height: 100vh;
}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    height: 100%;
    width: 35%;
    position:absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}